# Access on LAN via https://familyhub.local
familyhub.local {
	encode zstd gzip
	@api path /api/* /docs /openapi.json
	handle @api {
		reverse_proxy api:8000
	}
	@ws path /ws/*
	handle @ws {
		reverse_proxy api:8000
	}
	handle {
		root * /srv
		file_server
		try_files {path} /index.html
	}
	tls internal
}
